# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++

# Others
.vs
CMakeSettings.json

# Specific directories
build/
msvc_intermediate/
out/

# CLion
.idea/
**/cmake-build-*/
/VS/CMakeFiles
/VS/CMakeCache.txt
*.lastbuildstate
*.rule
*.stamp
*.tlog
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/Debug/concurrencpp-populate-complete
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/Debug/concurrencpp-populate-build
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/Debug/concurrencpp-populate-configure
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/Debug/concurrencpp-populate-done
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/Debug/concurrencpp-populate-download
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/Debug/concurrencpp-populate-install
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/Debug/concurrencpp-populate-mkdir
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/Debug/concurrencpp-populate-patch
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/Debug/concurrencpp-populate-test
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/Debug/concurrencpp-populate-update
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/cmake.check_cache
/example/3_async_file_processing/VS/CMakeFiles/cmake.check_cache
/example/3_async_file_processing/VS/_deps/concurrencpp-build/cmake_install.cmake
/example/3_async_file_processing/VS/_deps/concurrencpp-build/CMakeFiles/Export/ab8cb6e50485c11da19b2b6bb445e21c/concurrencppTargets.cmake
/example/3_async_file_processing/VS/_deps/concurrencpp-build/CMakeFiles/Export/ab8cb6e50485c11da19b2b6bb445e21c/concurrencppTargets-debug.cmake
/example/3_async_file_processing/VS/_deps/concurrencpp-build/CMakeFiles/Export/ab8cb6e50485c11da19b2b6bb445e21c/concurrencppTargets-minsizerel.cmake
/example/3_async_file_processing/VS/_deps/concurrencpp-build/CMakeFiles/Export/ab8cb6e50485c11da19b2b6bb445e21c/concurrencppTargets-release.cmake
/example/3_async_file_processing/VS/_deps/concurrencpp-build/CMakeFiles/Export/ab8cb6e50485c11da19b2b6bb445e21c/concurrencppTargets-relwithdebinfo.cmake
/example/3_async_file_processing/VS/_deps/concurrencpp-build/concurrencppConfigVersion.cmake
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/cmake_install.cmake
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/3.25.1/CMakeSystem.cmake
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/tmp/concurrencpp-populate-mkdirs.cmake
/example/3_async_file_processing/VS/cmake_install.cmake
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/CMakeRCCompiler.cmake
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/CMakeSystem.cmake
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/example/3_async_file_processing/VS/_deps/concurrencpp-build/CMakeFiles/generate.stamp.depend
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/generate.stamp.depend
/example/3_async_file_processing/VS/CMakeFiles/generate.stamp.depend
/example/3_async_file_processing/VS/_deps/concurrencpp-build/ALL_BUILD.vcxproj.filters
/example/3_async_file_processing/VS/_deps/concurrencpp-build/concurrencpp.vcxproj.filters
/example/3_async_file_processing/VS/_deps/concurrencpp-build/INSTALL.vcxproj.filters
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/ALL_BUILD.vcxproj.filters
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate.vcxproj.filters
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/ZERO_CHECK.vcxproj.filters
/example/3_async_file_processing/VS/3_async_file_processing.vcxproj.filters
/example/3_async_file_processing/VS/ALL_BUILD.vcxproj.filters
/example/3_async_file_processing/VS/INSTALL.vcxproj.filters
/example/3_async_file_processing/VS/ZERO_CHECK.vcxproj.filters
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/concurrencpp-populate.dir/Labels.json
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/generate.stamp.list
/example/3_async_file_processing/VS/CMakeFiles/generate.stamp.list
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/3.25.1/x64/Debug/VCTargetsPath.recipe
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/x64/Debug/concurrencpp-populate/concurrencpp-populate.recipe
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/x64/Debug/VCTargetsPath.recipe
/example/3_async_file_processing/VS/_deps/concurrencpp-build/concurrencpp.sln
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate.sln
/example/3_async_file_processing/VS/3_async_file_processing.sln
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeCache.txt
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/3.25.1/VCTargetsPath.txt
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/concurrencpp-populate.dir/Labels.txt
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/TargetDirectories.txt
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeLists.txt
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/src/concurrencpp-populate-stamp/concurrencpp-populate-source_dirinfo.txt
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate-prefix/tmp/concurrencpp-populate-cfgcmd.txt
/example/3_async_file_processing/VS/CMakeCache.txt
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/VCTargetsPath.txt
/example/3_async_file_processing/VS/CMakeFiles/TargetDirectories.txt
/example/3_async_file_processing/VS/_deps/concurrencpp-build/ALL_BUILD.vcxproj
/example/3_async_file_processing/VS/_deps/concurrencpp-build/concurrencpp.vcxproj
/example/3_async_file_processing/VS/_deps/concurrencpp-build/INSTALL.vcxproj
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/ALL_BUILD.vcxproj
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/CMakeFiles/3.25.1/VCTargetsPath.vcxproj
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/concurrencpp-populate.vcxproj
/example/3_async_file_processing/VS/_deps/concurrencpp-subbuild/ZERO_CHECK.vcxproj
/example/3_async_file_processing/VS/3_async_file_processing.vcxproj
/example/3_async_file_processing/VS/ALL_BUILD.vcxproj
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/CompilerIdCXX/CompilerIdCXX.vcxproj
/example/3_async_file_processing/VS/CMakeFiles/3.25.1/VCTargetsPath.vcxproj
/example/3_async_file_processing/VS/INSTALL.vcxproj
/example/3_async_file_processing/VS/ZERO_CHECK.vcxproj
